
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

<h4 class="form-title">Register</h4>
<div class="form-container container-fluid">
<h4 class="form-subtitle">Welcome to Oceanbnb!</h4>
  <div class="row">
    <div class="col">
      <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first_name" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last_name" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :location,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "location" }%>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <button type="button" class="btn btn-primary"><%= f.button :submit, "Sign up" %></button>
    <button type="button render" class="btn btn-primary"><%= render "devise/shared/links" %></button>
  </div>
</div>



<% end %>
