<%= render 'shared/navbar' %>
<div class="home-video-wrapper banner">
  <%= video_tag "banner_video.mp4", :size => "320x240", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home-video" %>
  <div class="home-container row flex-column align-items-center">
    <div class="align-items-center" style="color:white;">
    <h1 class="home-title">WELCOME TO OCEANBNB</h1>

    </div>
    <p class="subtitle">Enjoy a life of luxury and pleasure.</p>
    <%= link_to yachts_path, class:"m-0 p-0" do%>
    <button class="btn btn-light home-card-button">Begin your journey</button>
    <% end %>
  </div>
</div>

<div class="marina-icons container justify-content-evenly">
  <div class="row marina-row">
    <div class="col-4 marina-icon">
      <%= image_tag 'anchor.png', alt: ''%>
      <p class="marina-text">Your yacht is an extension of yourself. A statement of your lifestyle. She needs to deliver unforgettable experiences for you, your family and friends.</p>
    </div>
    <div class="col-4 marina-icon">
      <%= image_tag 'yacht.png', alt: ''%>
      <p class="marina-text">Every yacht is designed with our forward-thinking mentality and crafted with meticulous attention to detail.</p>
    </div>
    <div class="col-4 marina-icon">
      <%= image_tag 'ocean.png', alt: ''%>
      <p class="marina-text">So whether you’re dashing across the water or moored in your favourite bay, you will recognise the difference our design and details make, inside and out.</p>
    </div>

  </div>

</div>
<% if @user %>
  <% if @user.first_name == "Boss" %>
    <div>
      Pending bookings:
      <% @user_bookings.each do |booking|%>
        <div class="row">
          <div>
            User: <%= booking.user_id %> - Yacht: <%= booking.yacht_id%> Status: <%= booking.status%>
          </div>
          <%= form_tag accept_booking_path(booking), method: :patch, class: "" do %>
          <%= submit_tag "Accept", class: "btn btn-primary submit-search"  %>
          <% end %>
          <%= form_tag reject_booking_path(booking), method: :patch, class: "" do %>
          <%= submit_tag "Reject", class: "btn btn-primary submit-search"  %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>



<div class="home-card-container">
  <h1 style="font-family: Shippori Antique B1">Discover our experiences</h1>

  <div class="row justify-content-between">
    <div class="home-card" style="background-image: url(https://res.cloudinary.com/dnxriaa8a/image/upload/v1637081233/home_card_kc7rhy.jpg);">
      <div class="home-card-header">Things to do on your trip</div>
      <%= link_to yacht_path(@yacht1), class:"m-0 p-0" do%>
        <div class="btn btn-light home-card-button">Experiences</div>
      <% end %>
    </div>

    <div class="home-card" style="background-image: url(https://res.cloudinary.com/dnxriaa8a/image/upload/v1637081233/home_card2_slmobq.jpg);">
      <div class="home-card-header">Things to do from home</div>
      <%= link_to yacht_path(@yacht2), class:"m-0 p-0" do%>
        <div class="btn btn-light home-card-button">Online Experiences</div>
      <% end %>
    </div>
  </div>
</div>

<%= render "footer" %>
