<%# t.string "email", default: "", null: false
    t.string "encrypted_password", default: "", null: false
    t.string "reset_password_token"
    t.datetime "reset_password_sent_at"
    t.datetime "remember_created_at"
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.string "first_name"
    t.string "last_name"
    t.string "phone_number"
    t.string "location"


    rentals/bookings and their information


<%# <%= video_tag "background_video_3.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "myVideo" %>

<%# main container %>
<div class="profile-container " id="profile">
  <h2 class="page-head">Welcome <strong><%= @user.first_name.capitalize %></strong> to your profile</h2>
  <%# card container %>

  <div class="page">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card" id="user-details">
        <div class="card-body">
          <p class="card-text">First Name:  <%= @user.first_name %></p>
          <p class="card-text">Last Name: <%= @user.last_name %></p>
          <p class="card-text">Email: <%= @user.email %></p>
          <p class="card-text">Country: <%= @user.location %></p>
          <%# button edit %>
          <div class="edit-btn">
            <%= link_to edit_user_registration_path do%>
            <button class="btn btn-flat btn-primary">edit</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>


    <div>
     <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>
    </div>
  </div>
</div>

<%# ---------------------apply the screen resolution thing to show and profile pages-------------------- %>

<%# animated text %>
<%#
<div>Escape</div>
<div>
  <span>into amazing experiences</span>
</div>


<p>a css3 animation demo</p> %>




<%= render "footer" %>
