<%# t.string "email", default: "", null: false
    t.string "encrypted_password", default: "", null: false
    t.string "reset_password_token"
    t.datetime "reset_password_sent_at"
    t.datetime "remember_created_at"
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.string "first_name"
    t.string "last_name"
    t.string "phone_number"
    t.string "location"


    rentals/bookings and their information


    %>

    <div class="profile_page container">


    </div>


<%# <%= video_tag "background_video_3.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "myVideo" %>

<div class="profile-container container-fluid">
<h3 class="page-title">Welcome to your profile</h3>

<div class="row justify-content-evenly">
    <% @users.each do |user| %>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
          <div class="card-body">
            <p class="card-text"><%= user.last_name %></p>
            <p class="card-text"><%= user.email %></p>
            <p class="card-text"><%= user.phone_number %></p>
            <p class="card-text"><%= user.location %></p>
            </div>
          </div>
      </div>
      </div>
    <% end %>
  </div>
</div>


<%= render "footer" %>
