<%# t.string "email", default: "", null: false
    t.string "encrypted_password", default: "", null: false
    t.string "reset_password_token"
    t.datetime "reset_password_sent_at"
    t.datetime "remember_created_at"
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.string "first_name"
    t.string "last_name"
    t.string "phone_number"
    t.string "location"


    rentals/bookings and their information


<%# <%= video_tag "background_video_3.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "myVideo" %>

<%# main container %>
<div class="profile-container " id="profile">
  <h2 class="page-head">Welcome <strong><%= @user.first_name.capitalize %></strong> to your profile</h2>
  <%# card container %>

  <div class="page">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card" id="user-details">
        <div class="card-body">
          <p class="card-text">First Name:  <%= @user.first_name %></p>
          <p class="card-text">Last Name: <%= @user.last_name %></p>
          <p class="card-text">Email: <%= @user.email %></p>
          <p class="card-text">Country: <%= @user.location %></p>
          <%# button edit %>
          <div class="edit-btn">
            <%= link_to edit_user_registration_path do%>
            <button class="btn btn-flat btn-primary">edit</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>


    <div>
     <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>
    </div>
  </div>
</div>


<%# comment %>

    <div class="tab">
      <%# upcoming reservation card %>
      <div class="card" id="user-reservation" style="overflow-y: scroll;">
        <p> <strong>My Reservations </strong></p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"> Yacht </th>
              <th scope="col"> mm/dd/yyyy </th>
              <th scope="col"> Price </th>
            </tr>
          </thead>
          <tbody>
             <% @user_bookings.each do |booking|%>
             <tr>
              <td scope="col"> <%= @yachts.select { |yacht| yacht.id == booking.yacht_id}[0].name %> </td>
              <td scope="col"><%= booking.starts_at %> </td>
              <td scope="col"> € <%= number_with_delimiter(@yachts.select { |yacht| yacht.id == booking.yacht_id}[0].price, :delimiter => ',')  %> </td>
              </tr>
              <%end%>

          </tbody>
        </table>
      </div>

      <%# history card %>
      <div class="card" id="user-history" style="overflow-y: scroll;">
        <p> <strong>Your rental history: </strong></p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Reciept number</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>This will be a link######################</td>
              <td>dd/mm/yyyy</td>
              <td>price</td>
            </tr>

          </tbody>
        </table>


        <div class="show-more">
          <%= link_to edit_user_registration_path do%>
          <a href="#">Show all</a>
          <% end %>
        </div>
      </div>

    </div>

<%# ---------------------apply the screen resolution thing to show and profile pages-------------------- %>

<%# animated text %>
<%#
<div>Escape</div>
<div>
  <span>into amazing experiences</span>
</div>


<p>a css3 animation demo</p> %>




<%= render "footer" %>
