<div class="yacht-container container-fluid">
<h3 class="page-title">Discover all of our Yachts</h3>

<%# for the search %>
<div class="container">
  <%= form_tag yachts_path, method: :get do %>
   <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search" %>
   <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="yacht-search">
        <% @yachts.each do |yacht| %>
          <h4><%= yacht.name %></h4>
          <p><%= yacht.description %></p>
          <p><%= yacht.location %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%# //////////// %>
<div class="row justify-content-evenly">
    <% @yachts.each do |yacht| %>
      <%= link_to yacht_path(yacht) do %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="yacht-card">
          <img src="<%= yacht.image_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= link_to yacht.name, yacht_path(yacht) %></h5>
            <p class="card-text-yacht"><strong style="color: #333333">Description:</strong> <%= yacht.description %></p>
            <div class="card-bottom d-flex justify-content-between">
              <div class="card-bottom-info">
              <p class="card-text-yacht"><strong style="color: #333333">Price per day: €</strong><%= number_with_delimiter(yacht.price, :delimiter => ',') %></p>
              <p class="card-text-yacht"><strong style="color: #333333">Capacity: </strong><%= yacht.capacity %></p>
            </div>
              <div class="card-bottom-button">
              <%= link_to yacht_path(yacht) do %>
              <p class="btn btn-light index-card-button">View</p>
                            <% end %>

              </div>
            </div>
          </div>
      </div>
      </div>
              <% end %>
    <% end %>
  </div>
</div>


<%= render "footer" %>
