<%# container of the page %>
<div class="container">

  <%# CARD container  %>
  <div class="bg-white rounded shadow" id="card" >


    <%= image_tag @yacht.image_url, alt: @yacht.name %>
    <div class="name">
        <strong><h2><%= @yacht.name %> </h2></strong>
    </div>
    <div class="yatch-details">

      <div class="location">
        <span class="text-muted font-weight-normal"> Location: <%= @yacht.location %></span>
      </div>
      <div class="capacity">
        <span class="text-muted font-weight-normal"> Capacity: <%= @yacht.capacity %> pax</span>
      </div>
    </div>

    <div class="description">
      <%= @yacht.description%>
    </div>

  </div>

  <div class="card-reserve">
      <%# RESERVATION-BOX container %>
    <div class="bg-white rounded shadow" id="reservation-box">

    <%= simple_form_for [@yacht, @booking] do |f| %>
    <span class="mb-0" style="font-weight:bold;">€<%= number_with_delimiter(@yacht.price, :delimiter => ',') %> per day</span>
    <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.submit "Make Reservation", class: "btn btn-primary" %>
<% end %>

    </div>

    <%# amenities and back button %>
    <div class="bg-white rounded shadow" id="amenities">
      Ammenities
      <div class="b-button">
      <%= link_to yachts_path, class: "back-button btn btn-primary" do  %>
        Back
      <% end %>
      </div>
    </div>
  </div>

  <div class="bg-white rounded shadow" id="map-container">
    <h2>this is for the map</h2>
  </div>

</div>

<%= render "footer" %>
